body {
    background: hsl(216, 58%, 91%);
    color: #575F7D;
    font-family: 'Cantata One', serif;
    font-size: 14px;
    font-weight: 350;
  }
  h1, h2, h3 {
    font-family: 'Cantata One', serif;
  }
  h1 {
    color: #575F7D;
    font-size: 24px;
    font-weight: 900;
  }
  h2 {
    color: #7ECE90;
    font-size: 20px;
    font-weight: lighter;
    font-weight: 500;
  }
  a {
    font-family: 'Cantata One', serif;
    text-decoration: none;
    color: #6B72E1;
  }
  a:hover {
    color: black;
    font-weight: 700;
  }
  ul:not(.ul_bullets) {
    list-style-type: none;
    font-size: 16px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
  }
  ul.ul_bullets {
    list-style-type: "\1F44D";
    padding-left: 60px;
    color: rgb(131, 18, 18);
    font-size: 16px;
    font-weight: 500;
  }
  ul:not(.ul_bullets) li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px
  }
  ul.ul_bullets li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px
  }
  li:before:not(.ul_bullets) {
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    content: "";
    color: rgb(255, 255, 255);
  }
  i {
    margin-right: 10px;
  }
  .centered_divs {
    background: white;                         /* White background */
    padding: 10px;                             /* Internal space */
    border-radius: 4px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    width: 400px;        /* Set the width */
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .img-circle {
    border-radius: 50%;
    width: 120px;
  }
  .title_div {
    text-align: center;
  }
  .btn-blue {
    background-color: #58c7b8;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
  }
  .btn-blue:hover {
    background-color: black;
    color: white;
  }
  .btn-menu {
    text-align: right !important;
    font-weight: 350;
    font-size: 14px;
  }
